/*! minireset.css v0.0.3 | MIT License | github.com/jgthms/minireset.css */html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}ul{list-style:none}button,input,select,textarea{margin:0}html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}img,embed,iframe,object,audio,video{height:auto;max-width:100%}iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0;text-align:left}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 1.638;
  position: relative;
  background-color: #f1f1f1;
}

h1,
h2,
h3 {
  font-weight: 350;
  font-size: 0.9em;
  padding: 0.4em 0;
}

h2{
    padding: 0.1em;
    font-size: 0.7em;
    color: #999999;
}
h3{
  font-size: 0.5em;
}

a{
  color:#3d9991;
  text-decoration: none;
}
a:hover {
color:#0D8076;
}

// Cover

.cover {
  width: 100%;
  @media only screen and (min-width: 980px) {
    margin: 0 auto;
    width: 60%;
  }
}

.content {
    background-color: #FFF;
    padding: 3em 0em;
    width: 100%;
    margin: -1em auto;

    text-align: center;
      @media only screen and (min-width: 980px){
        width: 60%;
        padding-top: 4em;
      }
    .local, .quinta{
      margin-top: 2em;
    }
}

.contacts{
  padding: 1em 0 3em 0;
  background-color: #FFF;
  width: 100%;
  @media only screen and (min-width: 980px) {
    width: 60%;
    margin: 0 auto;
  }
  .dados{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    .carine{
      order: 0;
      margin-bottom: 2em;
      width: 100%;
      h1{
        color: #999;
      }
      @media only screen and (min-width: 680px) {
        width: 50%;
        padding-top: 1em;
      }
    }
    .daniel{
      order: 1;
      width: 100%;
      h1{
        color: #999;
      }
      @media only screen and (min-width: 680px) {
        width: 50%;
        padding-top: 1em;
      }
    }
  }
}
